body{
    margin: 0;
    background-color: #FFFFFF;
    font-family: 'Lato';
    font-size: 14px;
    background-image: url("/img/backgrd4.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-blend-mode: hard-light;
}

#big{
    background-color: #FFFFFF;
    margin: auto;
}
.nav{
    display: flex;
    background-color: #B0A4A4;
    padding: 14px 16px;
    justify-content: space-between;
    position: fixed;
    width: 98%;
    flex-wrap: wrap;
}
.nav div a{
    color: #333;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    justify-content: flex-start;
}
.nav a:hover{
    background-color: wheat;
    color: #000;
}

.container{
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    font-size: 40px;
    color: black;
}

p{
    color: darkblue;
    font-size: 24px;
}
.one{
    color: darkblue;
    font-size: 40px;

}

@media screen and (max-width:480px) {
    .header{
        text-align: center;
        flex: auto;
    }
}